.caretIcon--home__slider {
  padding: 10px;
  border-radius: 50%;
  background-color: #ffffff90;
  color: #00800090;
}

.caretIcon--home__slider:hover {
  background-color: #80c343;
  color: #fff;
}

/* .paginationDotsContainer--home__slider {
  color: blue;
  background-color: purple;
} */

.paginationDot--home__slider {
  margin-bottom: 20px;
  margin-right: 10px;
  padding: 0 20px;
  border-radius: 0;
}
