.caretIcon--home__slider {
  margin: 0 60px;
  padding: 20px;
  border-radius: 50%;
  background-color: #ffffff90;
  color: #00800090;
}

.caretIcon--home__slider:hover {
  background-color: #80c343;
  color: #fff;
}

.paginationDot--home__slider {
  margin-bottom: 20px;
  margin-right: 10px;
  height: 0.325rem !important;
  padding: 0 20px;
  border-radius: 0;
}

.paginationDot--home__slider--isActive {
  background-color: #80c343;
}

.sliderTrack--slider__category {
  text-align: center;
}

/* Product Summary */
.sliderLayoutContainer--home__vitrina--slider :global(.vtex-button) {
  background-color: rgb(128, 195, 67);
  border-color: rgb(128, 195, 67);
}

.sliderLayoutContainer--home__vitrina--slider :global(.vtex-button):hover {
  background-color: rgb(0, 128, 0);
  border-color: rgb(0, 128, 0);
}
