/* .sliderLayoutContainer--home__slider {

} */

.caretIcon--home__slider {
  padding: 10px;
  border-radius: 50%;
  background-color: #ffffff90;
  color: #00800090;
}

.caretIcon--home__slider:hover {
  background-color: #80c343;
  color: #fff;
}

.paginationDot--home__slider {
  margin-bottom: 20px;
  margin-right: 10px;
  height: 0.325rem !important;
  padding: 0 20px;
  border-radius: 0;
}

.paginationDot--home__slider--isActive {
  background-color: #80c343;
}

.sliderTrack--slider__category {
  text-align: center;
}

@media (max-width: 1023px) {
  .caretIcon--home__slider {
    display: none;
  }
}
