.container--product__tabs--info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listContainer--product__tabs--list {
  width: 80%;
  border-bottom: 2px solid #00000050;
}

/* .listContainer--product__tabs--list :global(.vtex-button) {
    background-color: blueviolet;
    color: yellow;
    border-color: yellowgreen;
} */
