.autoCompleteOuterContainer--search__plp--header
  :global(.vtex-input-prefix__group) {
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  border-radius: 0;
  background-color: transparent;
}

.autoCompleteOuterContainer--search__plp--header :global(.vtex-input__suffix) {
  background-color: #f9f9f9;
}

.backToTopButtonContainer {
  margin-bottom: 50px;
}
