.flexColChild--search__filter--container {
  color: #474747;
  background-color: #f9f9f9;
  padding: 1rem 1.2rem;
}

.flexCol--product__info--data {
  padding: 100px 0;
}

/* .flexColChild--product__info--data:first-child {
  color: #222;
  font-weight: 700;
  font-size: 2rem;
}

.flexColChild--product__info--data:nth-child(2n) {
  color: green;
  background-color: blue;
} */

.productNameContainer {
  border: 1px solid purple;
}
