.flexRow--desktop__search--content {
  max-width: 99.6%;
}

.flexColChild--search__filter--container {
  min-width: 100%;
  padding-top: 40vh !important;
  color: #474747;
  background-color: #f9f9f9;
  padding: 1rem 1.2rem;
}

.flexRowContent--search__plp {
  min-width: 100%;
  height: 30vh;
  margin-bottom: 50px;
  background-color: #f9f9f9;
}

.flexColChild--search__plp--col:first-child {
  display: flex;
  align-items: flex-end;
}

.flexCol--product__info--data {
  padding: 100px 0;
}

.flexCol--gallery__content--content {
  height: 17rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
