.menuContainerNav--probando__clase {
  display: flex;
  justify-content: flex-end;
}

.submenuWrapper {
  position: absolute;
  min-width: 100%;
  background-color: #e0e0e0;
}

.styledLinkContent--header__category--select-hover:hover {
  border-bottom: 2px solid #80c343;
}
