.menuContainerNav--probando__clase {
  /* width: 60vw; */
  /* background-color: blue; */
  display: flex;
  justify-content: flex-end;
  /* align-items: center; */
  /* text-align: center; */
}

.submenuWrapper--isOpen {
  background-color: transparent;
}

/* .styledLinkContent {
  padding-bottom: 5px;
} */

.styledLinkContent--header__category--select-hover:hover {
  border-bottom: 2px solid #80c343;
}

/* .menuItem--isOpen:hover {
  border-bottom: 2px solid red;
  height: 200px;
} */
