.container :global(.vtex-button) {
  border: none;
  outline: none;
  border-radius: 0;
  background-color: transparent;
}

.label {
  font-size: 0.875rem;
  color: #474747;
  font-weight: 400;
  line-height: 1.5;
  text-transform: capitalize;
}

.label:hover {
  border-bottom: 2px solid #80c343;
}

.profileIcon {
  background-color: #000;
  border-radius: 50%;
  color: white;
}
