.paragraph--footer__title--products,
.paragraph--footer__title--support,
.paragraph--footer__title--resources,
.paragraph--footer__title--about {
  color: #222;
  font-weight: 600;
  font-size: 1rem;
  /* font-family: Noto Sans, sans-serif; */
}

.paragraph--footer__text--bottom-text {
  width: 20.625rem;
  font-size: 0.625rem;
  color: #fff;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 1rem;
  text-align: center;
}
