.flexRow--footer__container--policies-mobile {
  padding-top: 50px;
  background-color: #1a1a1a;
}

.flexRow--footer__container--bottom-mobile {
  display: flex;
  justify-content: center;
  background-color: #1a1a1a;
}
