.link {
  text-decoration: none;
}

.label--footer__text--privacidad,
.label--footer__text--politica,
.label--footer__text--aviso,
.label--footer__text--informacion {
  padding-right: 20px;
  border-right: 2px solid #fafafa;
  color: #fafafa;
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 2;
}

.label--footer__text--privacidad:hover {
  text-decoration: underline;
}
