.headerRowContentContainer--footer__first--desktop {
  margin-top: 50px;
  padding: 0 20px;
  background-color: #1a1a1a;
}

.headerRowContentContainer--footer__bottom--desktop {
  padding: 0 20px;
  background-color: #1a1a1a;
}

.headerRowBackground--footer__policies--title {
  background-color: #1a1a1a;
}
